
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

body {
    min-height: 100vh;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;

}

body .LOCATIE{
    min-height: 100vh;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;

}

header{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);

}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .9s;
}

.header:hover::before{
    left: 100%;
}

.logo{
    text-decoration: none;
    color: #fff;
    text-transform: none;
    font-weight: 700;
    font-size: 30px;
    cursor: default;
}
.logo h1{
    color: #ffffff;
}

.logo span {
    color: #4700ee;
}



.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 35px;
}

.navbar a:hover{
    color: #392762;
}

section{
    padding: 100px 200px;
}

.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.home h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.home h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.home--1{
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.home--1:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title{
    display:flex;
    justify-content: center;
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 30px;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: #ffffff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    
}

.card:hover{
    transform: scale(1.1);
}

.icon{
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #0533cb;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}



.canvas .content{
    margin-top: 30px;
}

.canvas-card{
    background-color: #fff;
    border: 4px solid #640707;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.canvas-card:hover{
    transform: scale(1.1);
}

.canvas-card:hover .canvas-image{
    opacity: 0.9;
}

.canvas-imge img{
   width: 100%;
}

.canvas-info{
    padding: 1em;
}

.canvas-category{
    font-size: 0.8em;
    color: #000;
}

.canvas-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.meer-informatie{
    text-decoration: none;
    color: #2e1155;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.meer-informatie:hover{
    color: #2c1268;
}




.LOCATIE .content{
    margin-top: 40px;
}

.LOCATIE-card{
    background-color: #fff;
    border: 4px solid #640707;
    min-height: 14em;
    width: 32em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.LOCATIE-card:hover{
    transform: scale(1.1);
}

.LOCATIE:hover .LOCATIE-image{
    opacity: 0.9;
}

.LOCATIE-imge img{
   width: 100%;
}

.LOCATIE-info{
    padding: 1em;
    background-color: #fff;
    border: 4px solid #640707;
    min-height: 11em;
    width: 25em;
    overflow: hidden;
    border-radius:23px;
    margin: 11px;
    transition: 0.7s ease;
    
}

.LOCATIE-category{
    font-size: 0.8em;
    color: #000000;
}

.LOCATIE-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.LOCATIE-title .P{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}


 .Eduarte {
  

}
 
 .Eduarte .content{
     margin-top: 30px;
 }
 
 .Eduarte-card{
    background-color: #fff;
    border: 4px solid #640707;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
 }
 
 .Eduarte-card:hover{
     transform: scale(1.1);
 }
 
 .Eduarte-card:hover .Eduarte-image{
     opacity: 0.9;
 }
 
 .Eduarte-imge img{
    width: 100%;
 }
 
 .Eduarte-info{
     padding: 1em;
 }
 
 .Eduarte-category{
     font-size: 0.8em;
     color: #000000;
 }
 
 .Eduarte-title{
     display: flex;
     justify-content: space-between;
     text-transform: uppercase;
     font-weight: 800;
     margin-top: 10px;
 }

 .span{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
 }

















@media (max-width: 600px){
.container {
    width: 80%;
    margin: 0 auto; /
  }
  
  .item {
    width: 50%;
    float: left;

  

     body {
      font-size: 14px;
    }
   
  

  body {
    font-size: 16px;
  }
  
  .container {
    width: 30em;

  .container {
    width: 80vw; 
    height: 50vh; 
  }
}
  


  footer {
    background-color: #13012d;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 0;
    }
  
  footer p {
    margin: 10px;
  }